.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zone {
  position: relative;
  border: 1px solid black;
  width: 75vw;
  height: 135px;
  left: 0;
}

.zone-absolute {
  position: absolute;
  width: 75vw;
  height: 200px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}